{% extends "base.html.twig" %}

{% block body %}
    <a href="{{ path('app_load_files') }}" class="btn btn-danger">Load Files</a>
    <a href="{{ path('app_reflection') }}" class="btn btn-warn">Reflect</a>
    {{ block('install') }}
{% endblock %}


{% block install %}
    Install status.
    <a href="{{ path('app_ca_index') }}">Go to Providence Home Page</a>
{% endblock %}
