
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# hack -- this is really CA!
#/public

/var/lib/apt/lists/us.archive.ubuntu.com_ubuntu_dists_groovy-security_InRelease' contains unsigned lines.
E: The package lists or status file could not be parsed or opened
